<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Condomínios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/stylePesquisaCondominios.css">
</head>
<body>

<div class="modal fade" data-backdrop="static" id="modalCondominios" tabindex="-1" role="dialog" aria-labelledby="modalCondominiosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCondominiosLabel">CONDOMÍNIOS - PESQUISA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover table-striped" id="condominiosTable">
          <thead class="thead-dark">
            <tr>
              <th id="idCondominio" scope="col">CÓDIGO</th>
              <th scope="col">NOME</th>
              <th scope="col">BAIRRO</th>
              <th id="condominioInativo" scope="col">INATIVO</th>
              <th scope="col" class="acoes-col">AÇÕES</th>
            </tr>
          </thead>
          <tbody id="gridCondominios">
            <!-- Os registros serão carregados aqui -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">INSERIR CONDOMÍNIO</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="javascript/scriptsUtils.js"></script>
<script src="javascript/scriptsPesquisaCondominios.js"></script>
<script>
    //document.addEventListener('DOMContentLoaded', function () {
    //    const estados = <%- JSON.stringify(estados) %>;
    //    carregaGridCondominios(estados);
    //});
</script>

</body>
</html>
