<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Países</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/pesquisas/stylePesquisaPaises.css">
</head>
<body>

<div class="modal fade" data-backdrop="static" id="modalPaises" tabindex="-1" role="dialog" aria-labelledby="modalPaisesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPaisesLabel">PAÍSES - PESQUISA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="nomePais" class="form-group row">
          <div class="col-md-10">
            <h6>INFORME O NOME DO PAÍS</h6>
            <input type="text" id="edtNomePais" name="edtNomePais" class="form-control" placeholder="Digite o nome do país" />
          </div>
          <div class="col-2 d-flex align-items-end">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="chkPaisInativo" name="chkPaisInativo">
              <label class="form-check-label" for="chkPaisInativo"><h6>INATIVO</h6></label>
            </div>
          </div>
        </div>
        
        <table class="table table-bordered table-hover table-striped" id="paisesTable">
          <thead class="thead-dark">
            <tr>
              <th id="idPais" scope="col">CÓDIGO</th>
              <th scope="col">NOME</th>
              <th id="sigla03" scope="col">SIGLA 03</th>
              <th id="numeroDDI" scope="col">NÚMERO DDI</th>
              <th id="paisInativo" scope="col">INATIVO</th>
              <th scope="col" class="acoes-col">AÇÕES</th>
            </tr>
          </thead>
          <tbody id="gridPaises">
            <!-- Os registros serão carregados aqui -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">INSERIR PAÍS</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="javascript/common/scriptsUtils.js"></script>
<script src="javascript/pesquisas/scriptsPesquisaPaises.js"></script>

</body>
</html>
