#edtIdPessoa,
#edtDataCadastro,
#edtIdentidade,
#edtCPF,
#edtDataNascimento,
#edtCodBanco,
#edtDDD,
#edtNumeroTelefone,
#edtCEP,
#edtNumero {
  text-align: center;
}

#edtNome,
#edtDataCadastro,
#edtIdentidade,
#edtDataNascimento,
#edtNomePai,
#edtNomeMae {
  text-transform: uppercase;
}

#edtEmail {
  text-transform: lowercase;
}


#chkAtivo,
#chkAgenciaSemDigito,
#chkPagtoPix,
#rgrpContaPoupanca {
  margin-left: 0rem;
}

#lblChkAtivo,
#lblChkAgenciaSemDigito,
#lblChkPagtoPix,
#lblRgrpContaPoupanca {
  margin-left: 1.25rem;
}
