#edtIdPessoa,
#edtDataCadastro,
#edtIdentidade,
#edtCPF,
#edtDataNascimento {
  text-align: center;
}

#edtNome,
#edtDataCadastro,
#edtIdentidade,
#edtDataNascimento,
#edtNomePai,
#edtNomeMae {
  text-transform: uppercase;
  color: blue;
  background-color: #ffffdf;
}

#edtEmail {
  text-transform: lowercase;
}

/*
#lblChkAtivo {
  display: flex;
  align-items: end;
}
*/