#bairrosTable tbody tr {
  width: 100%;
  border-collapse: collapse;
  line-height: 1;
  padding: 0.2rem;
}

#bairrosTable th, #bairrosTable td {
  padding: 0.2rem
  text-align: left;
}

#bairrosTable tbody tr:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.acoes-col {
  width: 184px; 
  text-align: center;
}

#idBairro, #bairroInativo {
  text-align: center;
}