#loteamentosTable tbody tr {
  width: 100%;
  border-collapse: collapse;
  line-height: 1;
  padding: 0.2rem;
}

#loteamentosTable th, #loteamentosTable td {
  padding: 0.2rem
  text-align: left;
}

#loteamentosTable tbody tr:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.acoes-col {
  width: 184px;
  text-align: center;
}

#idLoteamento, #loteamentoInativo {
  text-align: center;
}