#edtNomeEstado {
  text-transform: uppercase;
}

#estadosTable tbody tr {
  width: 100%;
  border-collapse: collapse;
  line-height: 1;
  padding: 0.2rem;
}

#estadosTable th, #estadosTable td {
  padding: 0.2rem
  text-align: left;
}

#estadosTable tbody tr:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.acoes-col {
  width: 184px;
  text-align: center;
}

#idEstado, #estadoInativo, #siglaEstado {
  text-align: center;
}