.form-control#codigo {
    width: 100%;
    max-width: 80px;
    text-align: center; /* Centraliza o texto no campo código */
}

.form-control#descricao {
    width: 100%;
    max-width: 300px;
}

#edtIdTipoEndereco {
    text-align: center;
}

#edtIdTipoEndereco, #edtDescricaoTipoEndereco {
    text-transform: uppercase;
}